@media (max-width:992px){
    .Ayodhya-event{

    }

}
@media (max-width:768px){
    .Ayodhya-event{
        flex-wrap: wrap;
    }
    .width-100{
        width: 100%;
    }
    .ayodhya-event-p{
        padding: 0px !important;
    }
    .nav-ayodhya{
        padding: 5px !important;
        margin-left: 5px;
        font-size: 18px !important;
    }
    .AYODHYA{
        padding-bottom: 7px;
    }
}